@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700');
body {
    background: url(rsr/backg.jpg);
    background-size: cover;
}

/* /////////////////////////////  MENU BAR  ///////////////////////////////// */

nav {
    position: fixed;
    top: 2vw;
    left: 0vw;
    width: 1vw;
    height: 1vw;
    padding: 1vw 4vw;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

nav ul {
    margin: 0px 10px;
    padding: 0vw;
    display: flex;
    list-style: none;
}

nav ul li img {
    margin: -10px 0px;
    width: 120px;
}

ul li a {
    line-height: 3vw;
    color: #fff;
    font-size: 1.4vw;
    padding: 0vw 1.3vw;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.first {
    margin-left: 750px;
}

.link {
    font-size: 1.3vw;
    padding: 0.5vw;
}

/* /////////////////////////////  CONTENT  ///////////////////////////////// */

h1 {
    font-size: 40px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #fff;
    margin-top: 300px;
    margin-left: 90px;
}

h2 {
    font-size: 40px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgb(209, 28, 28);
    margin-top: -20px;
    margin-left: 90px;
}

h3 {
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: normal;
    color: #fff;
    margin-top: 0px;
    margin-left: 90px;
}