@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,800');

body {
    background: url(background.jpg);
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
}

/* /////////////////////////////  NAVBAR  ///////////////////////////////// */

.navbar {
    width: 101vw;
    overflow: hidden;
    color: rgb(255, 255, 255);
    height: 6vw;
    margin: -9px;
    background-color:#1d774c;
}

.title {
    text-decoration: none;
    float: left;
    padding: 1vw 2.3vw;
    font-size: 2.9vw;
    display: block;
    outline: 0;
    color: aliceblue;
    white-space: normal;
    font-weight: bold;
}

.button {
    float: right;
    padding: 2.2vw 3vw;
    font-size: 1.2vw;
    display: block;
    margin-left: 0vw;
    text-decoration: none;
    color: aliceblue;
}

.button:hover {
    background: #2b9260;
}

/* /////////////////////////////  FLEXBOX  ///////////////////////////////// */

.form {
  position: relative;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    background: #2d2e2d;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.valide input{
    background: #1d774c;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
}

h3 {
    font-size: 16px;
    color: rgb(226, 38, 38);
}